<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Копии пластинки </title>
</head>
<body style="background-color:#212529 !important">
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark border-bottom border-info">
        <ul class="navbar-nav ">
             <li class="nav-item">
                 <a class="nav-link" href="/"><i class="fa fa-star" aria-hidden="true"></i></i> Лидеры</a>

            </li>
            <li class="nav-item">
                <a class="nav-link active ml-2" href="/ensembles"><i class="fa fa-music" aria-hidden="true"></i> Ансамбли</a>
            </li>
        </ul>
    </nav>
<div class="container">
    <h2 class="text-light mt-5">Копии пластинки</h2>

    {#<a href="/add-record?ensemble_id={{ ensemble.id }}">Добавить пластинку</a><br>#}
    <h3 class="text-light mt-5">Добавить копию пластинки</h3>
    <form action="/add-record-copy" method="post">
        <input type="hidden" value="{{ record_id }}" name="record_id">
        <input type="hidden" value="{{ ensemble_id }}" name="ensemble_id">

       <div class="form-group mt-3">
        <label class="text-light for="sticker_id">Стикер</label>

                    <select class="form-control bg-dark text-muted" name="sticker_id" id="sticker_id">
                        {% for sticker in stickers %}
                        <option value="{{ sticker.id }}">{{ sticker.id }} - {{ sticker.comment }}</option>
                        {% endfor %}
                    </select>
       </div>
          <a  class="btn btn-secondary mt-3" href="/add-sticker?record_id={{ record_id }}&ensemble_id={{ ensemble_id }}"> + Добавить стикер</a><br>

        <button class="btn btn-info mt-5" type="submit">Добавить копию</button>

    </form>
    <h3 class="text-light mt-5" > Все копии</h3>
    <table class="table table-dark">
        <tr>
            <td>ID копии</td>
            <td>ID стикера</td>
            <td>Продан</td>
            <td>Дата продажи</td>
            <td colspan="2">Действия</td>
        </tr>
        {% for copy in copies %}
        <tr>
            <td>{{ copy.id }}</td>
            <td>{{ copy.sticker_id }}</td>
            <td>{% if copy.sold %}
                Да
                {% else %}
                Нет
                {% endif %}
            </td>
            <td>
                {% if copy.date_sold %}
                {{ copy.date_sold.strftime('%Y-%m-%d %H:%M:%S') }}
                {% else %}
                (нет)
                {% endif %}
            </td>
            <td>
                {% if copy.sold %}
                Продано
                {% else %}
                <a class="btn btn-success" href="/record-copies?ensemble_id={{ ensemble_id }}&record_id={{ record_id }}&sold_id={{ copy.id }}">Продать</a>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-secondary" href="/record-copies?ensemble_id={{ ensemble_id }}&record_id={{ record_id }}&delete_id={{ copy.id }}"> <i class="fa fa-times" aria-hidden="true"></i> Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a  class="btn btn-secondary" href="/records?ensemble_id={{ ensemble_id }}"> < Назад </a> &nbsp;

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/b277eed1e2.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</div>
</body>
</html>